.hero-carousel {
  position: relative;
  height: 75vh;
  overflow: hidden;
}

.hero-carousel .carousel-item {
  height: 80vh;
}

.hero-carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

.carousel-overlay {
  z-index: 2;
}

.carousel-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  animation: fadeInUp 1s ease forwards;
}

.carousel-overlay h1 {
  font-size: 3.2rem;
  font-weight: 700;
}

.carousel-overlay p {
  font-size: 1.25rem;
  max-width: 800px;
  margin: auto;
}

/* product overview */
.product-overview-section h2,
.stretched-link {
  color: #393185;
}
.product-card {
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: translateY(-20px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.product-card img {
  height: 220px;
  object-fit: cover;
}

.card-body h5 {
  color: #393185;
}

.stretched-link:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .carousel-caption-static h1 {
    font-size: 1.8rem;
  }

  .carousel-caption-static p {
    font-size: 1rem;
  }

  .hero-section {
    height: 60vh;
  }

  .carousel-item {
    height: 60vh;
  }
}
@media (max-width: 480px) {
  .carousel-caption-static {
    width: 92%;
  }
  .carousel-caption-static h1 {
    font-size: 1.3rem;
  }

  .carousel-caption-static p {
    font-size: 0.9rem;
  }
  .carousel-caption-static a {
    font-size: 15px;
  }
  .carousel-caption-static .px-4 {
    padding-right: 1.2rem !important;
    padding-left: 1.2rem !important;
  }
  /* product types */
  .product-overview-section h2,
  .stretched-link {
    font-size: 21px;
  }
  .product-overview-section .mb-4 {
    margin-bottom: 0.6rem !important;
  }
}
