/* chemical composition */
.h11-composition table {
  width: 100%;
  border-collapse: collapse;
}
.h11-composition th,
.h11-composition td {
  padding: 0.6rem;
  border: 1px solid #e3dcff;
  text-align: center;
  font-size: 18px;
}
.h11-chemical-composition {
  width: 40%;
}
.table-data {
  flex-wrap: wrap;
}
.h11-name-table {
  width: 45%;
}

.spec-block,
.h11-composition table,
.applications ul {
  background: #f5f5fc;
  padding: 1rem;
  border-radius: 8px;
}

.spec-block h4,
.h11-composition h3,
.applications h3 {
  color: #393185;
  margin-bottom: 0.6rem;
}
