/* Video Banner */
.overlay-infrastructure {
  height: 80vh;
  width: 30%;
  padding: 10px;
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.video-banner-infrastructure {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.video-banner-infrastructure .bg-video {
  width: 100%;
  height: 80vh;
  object-fit: cover;
}

.hero-text {
  position: relative;
  z-index: 2;
  padding: 1rem;
}

.overlay-infrastructure h1 {
  font-size: 3rem;
  margin: 0px 20px 20px 20px;
  font-weight: bold;
  text-align: center;
}

.overlay-infrastructure p {
  font-size: 1.12rem;
  margin-bottom: 2rem;
}

/* Heading */
.infrastructure-container h2 {
  color: #393185;
}
.text-heading hr {
  color: #393185;
  border: 0.2px solid #393185;
  opacity: 0.82;
}
.text-heading p {
  font-size: 21px;
  font-weight: 500;
  color: #393185;
}
/* Feature List */
.feature-container {
  margin: 0px auto;
}
.feature-container i {
  color: #393185;
  font-weight: 700;
}
.features {
  transition: filter 0.3s ease, transform 0.3s ease;
}
.features:hover {
  transform: scale(1.03);
  background: #39318595;
}

@media screen and (max-width: 480px) {
  /* Video Banner */
  .overlay-infrastructure {
    width: 75%;
  }

  .overlay-infrastructure h1 {
    font-size: 2rem;
  }

  .overlay-infrastructure p {
    font-size: 0.9rem;
  }

  .infrastructure-container h2 {
    font-size: 1.5rem;
  }
  .text-heading p {
    font-size: 0.96rem;
    margin-bottom: 1rem !important;
  }
  .text-heading {
    padding-bottom: 0.1rem;
    margin-bottom: 0.2rem;
  }
  .feature-container .fs-3 {
    font-size: 1rem !important;
  }
  .feature-container span {
    font-size: 0.89rem !important;
  }
}

@media (min-width: 481px) and (max-width: 780px) {
  /* Video Banner */
  .overlay-infrastructure {
    width: 55%;
    padding: 15px;
  }

  .overlay-infrastructure h1 {
    font-size: 2.2rem;
  }

  .overlay-infrastructure p {
    font-size: 1rem;
  }
}

@media (min-width: 481px) and (max-width: 780px) {
  /* Video Banner */
  .overlay-infrastructure {
    width: 55%;
    padding: 15px;
  }

  .overlay-infrastructure h1 {
    font-size: 2.2rem;
  }

  .overlay-infrastructure p {
    font-size: 1rem;
  }
}
@media (min-width: 781px) and (max-width: 1211px) {
  /* Video Banner */
  .overlay-infrastructure {
    width: 40%;
    padding: 15px;
  }

  .overlay-infrastructure h1 {
    font-size: 2.6rem;
  }

  .overlay-infrastructure p {
    font-size: 1.1rem;
  }
}
